body
{
	margin: 0;
	padding: 0;
}

li {
    list-style-type: none;
   }

 p {color: #fff;
 	font-size: 20px;}

 hr {color: #ffffff;}

 h1, h2, h3, h4, h5, h6 {color: #ffffff;}

 .wrapper
{
	max-width: 1360px;
	background: #000 url("../image/anna.jpg") no-repeat;
	/*height: 2000px;*/
}
/*BLOCK HEADER*/
.header
{
	display: flex;
	justify-content: flex-end;
}
/*BLOCK MENU*/
.menu
{
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px; 
	background-color: rgba(255,255,255, 0.2);
	display: flex;
	justify-content: space-around;
}
.menu a
{
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	transition: 1.5s;
}
.item-menu
{
	padding: 15px;
}
.item-menu:hover
{
	background-color: #fff;
	color: #000;
}
.item-menu:first-child
{
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}
/*BLOCK CONTENT*/
.content { 
			display: flex;
			justify-content: flex-end;					 
		}

	.book1 {display: flex;
			justify-content: space-around;
			height: auto;
			border: solid 1px #FF00FF; 
		}
	.oda {  max-width: 30%;
			height: auto;
			display: flex;
			justify-content: space-around;
			border: solid 1px #FF00FF; }

#contentBody {display: flex;
			justify-content: space-around;}

#loading {display:none;}

/*BLOCK FOOTER*/
